.global_title {
  text-align: center;
}
.global_content {
  max-width: 400px;
}

.people-card{
  max-width: 75%;
  margin: auto;
}
.people-card-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.people-card img{
  max-width: 20%;
  border-radius: 50%;
  display: inline-block;
}

.post-img {
  max-width: 60%;
}

.loadingIcon{
  max-width: 30px;
}

.mascotasTitle {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,108,1) 0%, rgba(0,185,255,1) 66%);
}

.animationMascotas {
  transition: max-height 0.7s ease;
  max-height: 0px;
  overflow:hidden;
}

.tableFixHead { 
  overflow-y: auto; 
  height: 150px; 
}
.tableFixHead thead th { 
  position: sticky; 
  top: 0; 
}